<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(theme$ | async) as theme">
  <ion-list class="theme-list">
    <ion-list-header slot="end"
      ><ion-label class="ion-text-center"
        >Choose your theme</ion-label
      ></ion-list-header
    >
    <ion-radio-group
      (ionChange)="onChange($event)"
      [value]="currentTheme === 'dark' ? 'dark' : 'light'"
    >
      <ion-item
        class="ion-margin"
        [class]="currentTheme === 'dark' ? 'light-radio' : 'dark-radio'"
        lines="none"
      >
        <ion-label class="ion-padding">Dark</ion-label>
        <ion-radio slot="start" value="dark"></ion-radio>
      </ion-item>

      <ion-item
        class="ion-margin"
        lines="none"
        [class]="currentTheme === 'dark' ? 'dark-radio' : 'light-radio'"
      >
        <ion-label class="ion-padding">Light</ion-label>
        <ion-radio slot="start" value="light"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
